* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  background: #fff;
  color: #333;
  transition: background 0.3s, color 0.3s;
  font-size: 1.2rem;

}